.upload {
  position: absolute;
  width: 30%;
  left: 13%;
  top: 15%;
  min-width: 400px;
}

.result {
  position: absolute;
  right: 15%;
  top: 18%;
  width: 30%;
}

/* .upload-status {
  position: absolute;
  bottom: 60px;
} */

.return-btn {
  position: absolute;
  right: 50px;
  bottom: 30px;
}

#root {
  height: 100%;
}

.layout {
  height: 100%;
  min-height: 100vh;
}

.upload-image {
  position: absolute;
  left: 10%;
  top: 13%;
  width: 40%;
  height: 68%;
  background-color: white;
  text-align: center;
  overflow: hidden;
}

.upload-res {
  position: absolute;
  right: 15%;
  top: 30%;
  width: 20%;
  object-fit: cover;
}

.ant-card-head-title {
  font-size: 46px;
  font-weight: 800;
}

.show-all-btn {
  position: absolute !important;
  right: 165px;
  bottom: 60px;
}


.button-group {
  position: absolute;
  justify-content: space-evenly;
  left: 10%;
  top: 88%;
  width: 80%;
  display: flex;
}


.logo {
  float: left;
  width: 172px;
  height: 69px;
  margin: 16px 24px 16px 0;
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: initial;
  font-family: "Arial Negreta", "Arial Normal", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.logo-png {
  width: 27px;
  margin: 0px 5px 5px 5px;
}

.menu-item{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.647);
  font-family: "Microsoft Tai Le Bold", "Microsoft Tai Le Regular", "Microsoft Tai Le", sans-serif;
}

.outter-content {
  height: 100%;
  background: white;
  position: relative;
}

.res-gallary {
  display: flex;
  margin: 30px auto;
  flex-wrap: wrap;
  justify-content: left;
}

.res-wrapper {
  background: white;
  padding: 3% 5%;
}

.ant-btn-lg {
  height: 60px;
  padding: 6.4px 15px;
  font-size: 25px;
  border-radius: 2px;
  border: solid;
  font-weight: 700;
}
