.upload {
  position: absolute;
  width: 30%;
  left: 13%;
  top: 15%;
  min-width: 400px;
}

.result {
  position: absolute;
  right: 15%;
  top: 15%;
  width: 30%;
}

.upload-select {
  position: absolute;
  right: 0;
  top: 0;
}
